body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: orange;
  /* font-family: "papyrus"; */
  /* background: black!important; */
}


.title{
    color: orange;
    font-family: papyrus;
    background-color: black;
    /* position:absolute; */
    top: 0;
    left: 50%;
    width:100%;
    padding-left: 39%;
    z-index: 5;
}

.App{
  background-color: black;
  background: black;
}

.movies{
  background-color: black;
  display: flex;
  justify-content: center;
 } 

.nav-all{
  padding:1%;
  display:flex;
  position: sticky;
  top:0;
  background-color: black;
  z-index: 5;
  color: orange;
  padding-bottom: 1%;
}

.nav-bar {
  padding-left: 1%;
  padding-right: 1%;
  margin: 3%;
  text-align: center;
  color: white;
  border-left: 6px solid darkorange;
  cursor: pointer;
  font-size: 30px;
  z-index: 5;
  /* padding-bottom: 5%; */
}

.nav-bar:hover{
  color: orange;
  transform: scale(1.2);
}

.page-nav{
  display:flex;
  flex: 1;
  padding-right: 10%;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin-top: 1%;
  position: fixed;
  z-index: 5;
  top: 10%;
  left:0%;
  width: 100%;
  height:5%;
  size: inherit;
}
.page-button{
  margin:2%;
  padding-inline:10%;
  height: 100%;
  text-align: center;
  cursor: pointer;
  align-content: inherit;
  color: orange;
  background-color: black;
  font-size: 20px;
  border-radius: 5px;
}

.review-card{
  /* width:60%;
  height:500px; */
  color:orange;
  /* display: flex; */
  /* justify-content: center; */
  /* padding:5%; */
  border-color: white;
  border-style: solid;
  border-radius: 5px;
  margin:5%;
  text-align: center;
  justify-content: center;
}

.review-image{
  width:100%;
  object-fit: cover;
  opacity: .08;
}

.review-title{
  position: absolute; 
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: 100%; 
  padding: 5%;
}

.review-review{
  padding:5%;
  position: absolute; 
  left: 0; 
  right: 0;
  padding-top: 15%; 
  margin-left: auto; 
  margin-right: auto; 
  width: 80%; 
}

.review-rating{
  padding:5%;
  position: absolute; 
  left: 0; 
  right: 0;
  padding-top: 10%; 
  margin-left: auto; 
  margin-right: auto; 
  width: 100%; 
}

.page-button:hover{
  transform: scale(1.05);
}

.movie-card{
  background-color: black;
  text-align: center;
  color: orange;
}

.movie-card:hover{
  box-shadow:
    0 0 5px #fff,
    -1px 0 8px orange,
    1px 0 8px rgb(245, 205, 130);
  cursor: pointer;
  transform: scale(1.05);
}

.movie-card-poster{
  margin: auto;
  height: 50vh;
  width: 100%;
  border-radius: 5px;
}

.review-cancel{
  width:40px;
  height: 40px;
  background: black;
  color:orange;
  position:absolute;
  top:0%;
  right:2%;
  border-radius: 100%;
  text-align: center;
  opacity: .5;
}

.review-cancel:hover{
  opacity: 1;
  cursor: pointer;
}

.review-submit{
  background: black;
  color: orange;
  border-radius: 50px;
  position: absolute;
  bottom:2%;
  width:95%;
  right:2.5%;
  height:10%;
  opacity: .5;
}

.review-submit:hover{
  opacity: 1;
  cursor: pointer;
  
}

.pumpkin-light{
  width: 4%;
}

.pumpkin-dark{
  width:4%;
  opacity: .3;
}

.movie-card-review{
  width: 100%;
  height:50.5vh;
  background: black;
  color: white;
  resize: none;
  font-size: large;

}

textarea{
  box-sizing: border-box;
  padding-top: 20%;
  padding-left: 5%;
  padding-right: 5%;
  border-color:orange;
  transform: scale(1.05);
  border-radius: 5px;
  box-shadow:
  0 0 5px #fff,
  -1px 0 8px orange,
  1px 0 8px rgb(245, 205, 130);
}

.movie-card-text{
  margin:auto;
  height:50.5vh;
  text-align: left;
  background: black;
  color: white;
  border-style:ridge;
  border-color: orange;
  resize: none;
  font-size: large;
}

.button{
  color: orange;
  background-color: black;
  height:40px;
  position:absolute;
  top: 96%;
  left: 50%;
  width:100%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%, -50%);
  cursor: pointer;
  overflow: none;
}

.search{
  margin:2%;
  padding-inline:10%;
  height: 100%;
  text-align: left;
  align-content: inherit;
  color: orange;
  background-color: black;
  font-size: 20px;
  border-radius: 5px;
}

/*site css*/
.star-rating {
  font-size: 0;
  white-space: nowrap;
  display: inline-block;
  width: 200px;
  height: 40px;
  overflow: hidden;
  position: absolute;
  background-size: contain;
  top:0%;
  left:5%;
  /* right:15% */
}
.star-rating i {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 20%;
  z-index: 1;
  background: url("https://d29fhpw069ctt2.cloudfront.net/icon/image/85188/preview.svg");
  background-size: contain;
}
.star-rating input {
  -webkit-appearance: none;
  width: 20%;
  height: 100%;
  margin: 0;
  z-index: 2;
  position: relative;
  cursor: pointer;
}
.star-rating input:hover + i,
.star-rating input:checked + i {
  opacity: 1;
}
.star-rating i ~ i {
  width: 40%;
}
.star-rating i ~ i ~ i {
  width: 60%;
}
.star-rating i ~ i ~ i ~ i {
  width: 80%;
}
.star-rating i ~ i ~ i ~ i ~ i {
  opacity: .1;
  width: 100%;
}
::after,
::before {
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
}
