body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: orange;
  /* font-family: "papyrus"; */
  /* background: black!important; */
}


.title{
    color: orange;
    font-family: papyrus;
    background-color: black;
    /* position:absolute; */
    top: 0;
    left: 50%;
    width:100%;
    padding-left: 39%;
}

.App{
  background-color: black;
  background: black;
}

.movies{
  background-color: black;
  display: flex;
  justify-content: center;
 } 

.nav-all{
  padding:1%;
  display:flex;
  position: sticky;
  top:0;
  background-color: black;
  z-index: 1;
  color: orange;
}

.nav-bar {
  margin: 2%;
  padding-left: 1%;
  padding-right: 1%;
  margin: 3%;
  text-align: center;
  color: white;
  border-left: 6px solid darkorange;
  text-decoration: none;
  background-color: black;
  cursor: pointer;
  font-size: 20px;
}

.page-nav{
  display:flex;
  flex: 1;
  padding-right: 10%;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin-top: 1%;
  position: fixed;
  z-index: 1;
  top: 10%;
  left:0%;
  width: 100%;
  height:5%;
  size: inherit;
}
.page-button{
  margin:2%;
  padding-inline:10%;
  height: 100%;
  text-align: center;
  cursor: pointer;
  align-content: inherit;
  color: orange;
  background-color: black;
  font-size: 20px;
}

.movie-card{
  background-color: black;
  text-align: center;

}




.movie-card:hover{
  box-shadow:
    0 0 50px #fff,
    -10px 0 80px orange,
    10px 0 80px rgb(245, 205, 130);
  cursor: pointer;
}

.movie-card-poster{
  margin: auto;
  height: 50vh;
  width: 100%;
}


.review-cancel{
  width:25px;
  background: black;
  color:orange;
  position:absolute;
  top:1%;
  right:2.5%;
}

.review-submit{
  background: orange;
  position: absolute;
  bottom:.2%;
  width:95%;
  right:2.5%;
  height:12%
}

.null{
  position:fixed;
}

.pumpkin-light{
  width: 4%;
}

.pumpkin-dark{
  width:4%;
  opacity: .3;
}

.movie-card-review{
  width: 100%;
  height:50.5vh;
  /* text-align: left; */
  background: black;
  color: white;
  border-style:ridge;
  border-color: orange;
}



.button{
  color: orange;
  /* font-family: papyrus; */
  background-color: black;
  height:40px;
  position:absolute;
  top: 96%;
  /* bottom:-3%; */
  left: 50%;
  width:100%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%, -50%);
  cursor: pointer;
  overflow: none;
}

.search{
  color: orange;
  font-family: papyrus;
  background-color: black;
  margin: 1%;
  width:30%;
  height: 40px;
}
/* 
.button:hover{
  transform: scale(1.05);
  cursor:pointer;
} */

.review-title{
  /* margin-right: 2px; */
  background-color: black;
  color:orange;
  font-family: papyrus;
  border-color: rgb(15, 15, 15);
}

.review-input{
  margin:auto;
  background-color: white;
  width:60%;
  height:100px;
  color:orange;
}

.review-form{
  border: orange;
  border-style: solid;
  width: 75%;
  position: fixed;
  left: 50%;
  margin-left: -37.5%;
  margin-top: 10%;
  background-color: rgb(46, 46, 46);
  box-shadow:
  0 0 50px #fff,
  -10px 0 80px orange,
  10px 0 80px rgb(245, 205, 130);
  opacity: 1;
  z-index: 10;
}

/*site css*/
.star-rating {
  font-size: 0;
  white-space: nowrap;
  display: inline-block;
  width: 500px;
  height: 100px;
  overflow: hidden;
  position: relative;
  background-size: contain;
}
.star-rating i {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 20%;
  z-index: 1;
  background: url("https://d29fhpw069ctt2.cloudfront.net/icon/image/85188/preview.svg");
  background-size: contain;
}
.star-rating input {
  -webkit-appearance: none;
  width: 20%;
  height: 100%;
  margin: 0;
  z-index: 2;
  position: relative;
  cursor: pointer;
}
.star-rating input:hover + i,
.star-rating input:checked + i {
  opacity: 1;
}
.star-rating i ~ i {
  width: 40%;
}
.star-rating i ~ i ~ i {
  width: 60%;
}
.star-rating i ~ i ~ i ~ i {
  width: 80%;
}
.star-rating i ~ i ~ i ~ i ~ i {
  opacity: .1;
  width: 100%;
}
::after,
::before {
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
}
