body {
  margin: auto;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

/* Navbar */
.nav-bar{
  display:flex;
  flex:5;
  position: sticky;
  top:0;
  z-index: 5;
  background-color: black;
  height: 8vh;
}
.nav-links {
  flex: 1;
  margin: auto;
  padding-left: 5%;
}
.nav-link {
  color: white;
  cursor: pointer;
  font-size: 38px;
  flex: 1;
  padding-left: 5%;
}
.nav-link:hover{
  color: orange;
  transform: scale(1.2);
}
.active {
  color: orange;
  transform: scale(1.2);
}
.nav-neg{
  flex: 3;
  text-align: end;
  margin: auto;
}
.nav-title{
    color: orange;
    font-family: "papyrus";
    font-size: 42px;
    text-align: end;
    margin-right: 8%;
    cursor: pointer;
    /* margin-top: 2%; */
    margin-left: 10%;
}
.nav-title:hover{
  color: orange;
}

/* NavButtons */
.movies-nav{
  background-color:black;
  position:fixed;
  width: 100%;
  z-index: 5;
  display: flex;
  flex: 5;
  padding-bottom: 1%;
}
.buttons{
  flex: 4;
  display: flex;
  justify-content: flex-end;
  padding-left: 27%;
  padding-right: 5%;
}
.button{
  color: orange;
  cursor: pointer;
  margin-left: 10%;
  width:50%;
  background-color: black;
  border-radius: 10px;
}
.search-form{
  flex: 2;
  display: flex;
  flex-direction: row-reverse;
  padding-right: 6%;
}
.search{
  color: orange;
  background-color: black;
  font-size: 20px;
}

/* Reviews */
.reviews{
  padding:5%;
}
/* ReviewCard */
.rc{
  display: flex;
  border-color: orange;
  border-style: solid;
  border-radius: 10px;
  margin-bottom: 2%;
  width: 100%;
  height: 100%;
}
.rc-image{
  margin-top: 1%;
  margin-bottom: 1%;
  border-radius: 10px;
  resize: none;
  height: 100%;
  flex: 1;
}
.rc-mid{
  flex:1;
}
.rc-title{ 
  color: orange;
  text-align: center;
  font-size: auto;
  /* padding: 10%; */
  cursor:default;
  padding-bottom: 10%;
  padding-top: 10%;
  margin: 1%;
}
.rc-rating{
  padding-top: 10%;
text-align: center;
}
.rc-review{
  color: orange;
  width: 100%;
  cursor: default;
  flex: 3;
  overflow: hidden;
  margin: 1%;
}
.pumpkin-light{
  width: 15%;
}
.pumpkin-dark{
  width:15%;
  opacity: .3;
}
.rc-delete{
  height: 38px;
  width: 38px;
  background: transparent;
  border-color: orange; 
  color:orange;
  position:absolute;
  right:4.5%;
  border-radius: 100%;
  opacity: .5;
  margin-top: .1%;
}
.rc-delete:hover{
  opacity: 1;
  cursor: pointer;
  border-color: orange;
}

/* Movies */

.movies-all{
  padding-bottom: 5%;
}
.movie-grid{
  justify-content: center;
}
.movie-container{
  margin-inline: 1%;
  margin-top: 5%;
  min-width:inherit;
  min-height: 42vh;
}
/* MovieCard */
.mc{
  background-color: black;
}
.mc:hover{
  box-shadow:
    0 0 5px #fff,
    -1px 0 8px orange,
    1px 0 8px rgb(245, 205, 130);
  cursor: pointer;
}
.mc-container{
  height: 100%;
  width: 100%;
  margin-bottom: 5%;
}
.mc-poster{
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

/* MovieCardReview*/
.mcr{
  position: relative;
}
div.ui.card.mc-container{
  background-color: black;
}

.mcr-movie-name-redrum{
  position: absolute;
  bottom:40%;
  font-size: large;  
  font-weight: bold;
  color: red;
  width: 100%;
  opacity: .2;
  padding-inline: 2%;
  text-align: center;
  font-family: "papyrus";
  z-index: 5;
}

.mcr-movie-name-redrum:hover{
  transform: scaleX(-1);
}

textarea{
  position: absolute;
  width: 98%;
  left:1%;
  resize: none;
  top: 13%;
  height: 74%;
  background-color: transparent;
  border-style: none;
  outline: none;
  color: orange;
  padding-inline: 2%;;
} 
.mcr-cancel{
  width:40px;
  height: 40px;
  background: transparent;
  color:orange;
  position:absolute;
  top:1%;
  right:2%;
  border-radius: 100%;
  opacity: .5;
}
.mcr-cancel:hover{
  opacity: 1;
  cursor: pointer;
  border-color: orange;
} 
.mcr-submit{
  background: transparent;
  color: orange;
  border-radius: 50px;
  position: absolute;
  bottom:2%;
  width:95%;
  right:2.5%;
  height:10%;
  opacity: .5;
}
.mcr-submit:hover{
  opacity: 1;
  cursor: pointer;
  border-color: orange;
}
.pumpkin-rating {
  width: 200px;
  height: 40px;
  position: absolute;
  left:5%;
  margin-top: 2%;
}
.pumpkin-rating i {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 100%;
  width: 20%;
  z-index: 1;
  background: url("https://d29fhpw069ctt2.cloudfront.net/icon/image/85188/preview.svg");
}
.pumpkin-rating input {
  -webkit-appearance: none;
  width: 20%;
  height: 100%;
  z-index: 2;
  position: relative;
  cursor: pointer;
}
.pumpkin-rating input:hover + i,
.pumpkin-rating input:checked + i {
  opacity: 1;
}
.pumpkin-rating i ~ i {
  width: 40%;
}
.pumpkin-rating i ~ i ~ i {
  width: 60%;
}
.pumpkin-rating i ~ i ~ i ~ i {
  width: 80%;
}
.pumpkin-rating i ~ i ~ i ~ i ~ i {
  opacity: .3;
  width: 100%;
}